# Deployer
PRIVATE_KEY=

# NFT Config
BASE_URI=
NAME=
SYMBOL=
COLLECTION_SIZE=
MAX_TOKENS_PER_MINT=
MAX_MINTS_PER_ACCOUNT=
MINT_COST=

# CHAIN specific
LAYER_ZERO_ENDPOINT=
OMNICAT_ADDRESS=
RPC_URL=
ETHERSCAN_API_KEY=

# Invariant after base chain deploy
OMNI_NFT_A=
BASE_CHAIN_ID=